body {
	margin: 0;
	padding: 1em 3em;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
}

img {
	display: block;
	margin: 0 auto;
}

/*Strip the ul of padding and list styling*/
ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

.nav {
	float: right;
}
/*Style for menu links*/
.nav li a {
	display:inline-block;
	min-width:100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #000;
	text-decoration: none;
}

/*Hover state for top level links*/
.nav li:hover a {
	border-bottom: 1px solid #000;
}